<h1>Lista użytkowników</h1>
<table>
  <thead>
    <tr>
      <th>Imię i nazwisko</th>
      <th>Adres</th>
      <th>Strona WWW</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>{{name}}</td>
      <td>{{address}}</td>
      <td><a href="http://{{website}}">{{website}}</a></td>
    </tr>
  </tbody>
</table>